
.c-navegacao {
    &__nav {
        padding: 1rem;
    }

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;

        .c-list-item {
            padding: 1rem;
            overflow: hidden;
            border-radius: 0.5rem;


            svg {
                height: 1.95em;
                stroke-width: 2px;
                color: var(--primary);
                margin-bottom: 1rem;
            }


            .link-title{
                font-weight: 600;
                font-size: .75rem;
                margin-bottom: 0.25rem;
            }

            .link-span {
                color: var(--gray);
                font-size: 0.675rem;
                font-weight: 500;
                
            }

            &:first-child, &:hover{
                background-color: var(--primary-light);
                svg{
                    color: var(--black);
                }
            }
        }
    }
}