
@import './_reset.scss';
@import './header.scss';
@import './home/hero.scss';

:root{
    --primary: #ea4c89;
    --primary-light: #f9cbdd;
    --white: #ffffff;
    --black: #000000
}

.container {
    width: 100%;         /* O container ocupa toda a largura disponível */
    max-width: 1200px;   /* Largura máxima do container */
    margin: 0 auto;      /* Centraliza o container horizontalmente */
    padding: 0 20px;     /* Adiciona um espaço interno de 20px nas laterais */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura total */
}

#main {
    
    width: calc(100% - 12rem - 18rem);
    min-height: calc(100vh - 4.75rem);
    margin-left: 12rem;
    margin-top: 4.75rem;

}