@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  border-width: initial;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: "Poppins", serif;
  line-height: 1;
  color: var(--black);
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: var(--black);
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.aside-menu {
  position: fixed;
  top: 2rem;
  left: 0;
  box-shadow: 0.1755rem 0.175rem 2rem rgba(29, 29, 29, 0.2);
  overflow: hidden;
  width: 10rem;
  height: 100vh;
  padding: 1.5rem 1rem;
}
.aside-menu .menu {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.5rem 0;
}
.aside-menu .menu-item__link {
  display: flex;
  padding: 0.75rem 1rem;
  border-radius: 9999px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
}
.aside-menu .menu-item.active .menu-item__link {
  background-color: var(--primary);
  color: var(--white);
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding: 1.5rem 1rem;
  padding-left: 0;
}
.header-menu .container-menu {
  display: flex;
}
.header-menu .container-menu .link-logo {
  width: 12rem;
}
.header-menu .container-menu .link-logo img {
  display: block;
  margin: 0 auto;
  height: 1.75rem;
  object-fit: contain;
}
.header-menu .container-menu .button-hamburgue {
  cursor: pointer;
  height: 1.75rem;
  width: 1.75rem;
  margin-left: 1rem;
}
.header-menu .container-menu .button-hamburgue .icon-hamburgue, .header-menu .container-menu .button-hamburgue .icon-hamburgue::before, .header-menu .container-menu .button-hamburgue .icon-hamburgue::after {
  display: block;
  width: 1.75rem;
  height: 3px;
  border-radius: 9999px;
  background-color: var(--black);
}
.header-menu .container-menu .button-hamburgue .icon-hamburgue {
  position: relative;
  width: 1.35rem;
}
.header-menu .container-menu .button-hamburgue .icon-hamburgue::before {
  content: "";
  position: absolute;
  top: -0.45rem;
  left: 0;
  transition: all 0.1s ease-in-out;
}
.header-menu .container-menu .button-hamburgue .icon-hamburgue::after {
  content: "";
  position: absolute;
  bottom: calc(-0.45rem - 1px);
  left: 0;
  width: 1rem;
  transition: all 0.1s ease-in-out;
}
.header-menu .container-menu .button-hamburgue:hover .icon-hamburgue {
  width: 0px;
}
.header-menu .container-menu .button-hamburgue:hover .icon-hamburgue:after {
  transform: rotate(-45deg);
  width: 1.5rem;
  bottom: 0;
}
.header-menu .container-menu .button-hamburgue:hover .icon-hamburgue::before {
  transform: rotate(45deg);
  top: 0;
  width: 1.5rem;
}

:root {
  --primary: #ea4c89;
  --white: #ffffff;
  --black: #000000 ;
}

.container {
  width: 100%; /* O container ocupa toda a largura disponível */
  max-width: 1200px; /* Largura máxima do container */
  margin: 0 auto; /* Centraliza o container horizontalmente */
  padding: 0 20px; /* Adiciona um espaço interno de 20px nas laterais */
  box-sizing: border-box; /* Inclui padding e borda no cálculo da largura total */
}

main {
  width: calc(100% - 10rem);
  margin-left: auto;
}

/*# sourceMappingURL=main.css.map */
