@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  border-width: initial;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
}

body {
  font-family: "Poppins", serif;
  line-height: 1;
  color: var(--black);
  font-size: 0.75rem;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

li::marker {
  content: none;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: var(--black);
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

:root {
  --primary: #ea4c89;
  --primary-light: #f9d8e5;
  --white: #ffffff;
  --black: #000000;
  --gray: #575757;
  --gray-light: #e8e8e8;
}

.aside-menu {
  position: fixed;
  top: 2rem;
  left: 0;
  box-shadow: 0.15rem 0.15rem 0.75rem rgba(188, 188, 188, 0.1);
  overflow: hidden;
  width: 10rem;
  height: 100vh;
  padding: 1.5rem 1rem;
}
.aside-menu .menu {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.5rem 0;
}
.aside-menu .menu-item__link {
  display: flex;
  padding: 0.75rem 1rem;
  border-radius: 9999px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
}
.aside-menu .menu-item.active .menu-item__link {
  background-color: var(--primary);
  color: var(--white);
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding: 1.5rem 1rem;
  padding-left: 0;
}
.header-menu .container-menu {
  display: flex;
}
.header-menu .container-menu .link-logo {
  width: 12rem;
}
.header-menu .container-menu .link-logo img {
  display: block;
  margin: 0 auto;
  height: 1.75rem;
  object-fit: contain;
}
.header-menu .container-menu .button-hamburgue {
  cursor: pointer;
  height: 1.75rem;
  width: 1.75rem;
  margin-left: 1rem;
}
.header-menu .container-menu .button-hamburgue .icon-hamburgue,
.header-menu .container-menu .button-hamburgue .icon-hamburgue::before,
.header-menu .container-menu .button-hamburgue .icon-hamburgue::after {
  display: block;
  width: 1.75rem;
  height: 3px;
  border-radius: 9999px;
  background-color: var(--black);
}
.header-menu .container-menu .button-hamburgue .icon-hamburgue {
  position: relative;
  width: 1.35rem;
}
.header-menu .container-menu .button-hamburgue .icon-hamburgue::before {
  content: "";
  position: absolute;
  top: -0.45rem;
  left: 0;
  transition: all 0.1s ease-in-out;
}
.header-menu .container-menu .button-hamburgue .icon-hamburgue::after {
  content: "";
  position: absolute;
  bottom: calc(-0.45rem - 1px);
  left: 0;
  width: 1rem;
  transition: all 0.1s ease-in-out;
}
.header-menu .container-menu .button-hamburgue:hover .icon-hamburgue {
  width: 0px;
}
.header-menu .container-menu .button-hamburgue:hover .icon-hamburgue:after {
  transform: rotate(-45deg);
  width: 1.5rem;
  bottom: 0;
}
.header-menu .container-menu .button-hamburgue:hover .icon-hamburgue::before {
  transform: rotate(45deg);
  top: 0;
  width: 1.5rem;
}

.aside-payments {
  position: fixed;
  top: 0;
  right: 0;
  height: calc(100% - 3rem);
  width: 20rem;
  box-shadow: -0.15rem 0.15rem 0.75rem rgba(188, 188, 188, 0.1);
  padding: 1.5rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside-payments .title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.aside-payments .list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.aside-payments .list .list-item .link-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}
.aside-payments .list .list-item .link-item figure {
  width: 4rem;
  height: 4rem;
  border-radius: 0.25rem;
  overflow: hidden;
  border: 1px solid var(--gray-light);
}
.aside-payments .list .list-item .link-item figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.aside-payments .list .list-item .link-item .info-item {
  width: calc(100% - 4.25rem);
}
.aside-payments .list .list-item .link-item .info-item .name-item {
  font-weight: 600;
  margin-bottom: 0.375rem;
}
.aside-payments .list .list-item .link-item .info-item .values-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.aside-payments .list .list-item .link-item .info-item .values-item .unit .value-unit,
.aside-payments .list .list-item .link-item .info-item .values-item .unit .amount {
  color: var(--gray);
}
.aside-payments .list .list-item .link-item .info-item .values-item .values {
  color: var(--primary);
  font-weight: 600;
}
.aside-payments .button-payment {
  background-color: var(--primary);
  color: var(--white);
  width: 100%;
  text-align: center;
  padding: 0.65rem 0;
  font-size: 1rem;
  border-radius: 0.25rem;
  display: block;
}

.c-navegacao__nav {
  padding: 1rem;
}
.c-navegacao__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.c-navegacao__list .c-list-item {
  padding: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
}
.c-navegacao__list .c-list-item svg {
  height: 1.95em;
  stroke-width: 2px;
  color: var(--primary);
  margin-bottom: 1rem;
}
.c-navegacao__list .c-list-item .link-title {
  font-weight: 600;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}
.c-navegacao__list .c-list-item .link-span {
  color: var(--gray);
  font-size: 0.675rem;
  font-weight: 500;
}
.c-navegacao__list .c-list-item:first-child, .c-navegacao__list .c-list-item:hover {
  background-color: var(--primary-light);
}
.c-navegacao__list .c-list-item:first-child svg, .c-navegacao__list .c-list-item:hover svg {
  color: var(--black);
}

#products {
  margin-top: 1.5rem;
}
#products .list-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}
#products .list-products .card-product {
  border: 1px solid #e7e7e7;
  padding: 1rem;
  border-radius: 0.5rem;
}
#products .list-products .card-product .card-image {
  aspect-ratio: 4/3;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid #e7e7e7;
}
#products .list-products .card-product .card-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}
#products .list-products .card-product .name-item {
  font-weight: 600;
  margin: 0.75rem 0;
}
#products .list-products .card-product .card-values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 0.75rem;
  margin-bottom: 0.75rem;
}
#products .list-products .card-product .card-values .value {
  color: var(--primary);
  font-weight: 600;
}
#products .list-products .card-product .card-values .amount {
  color: var(--gray);
  font-weight: 500;
}
#products .list-products .card-product .button-payment {
  background-color: var(--primary-light);
  font-weight: 600;
  padding: 0.45rem;
  width: 100%;
  border-radius: 0.175rem;
  display: block;
}
#products .list-products .card-product .box-unit {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  display: none;
}
#products .list-products .card-product .box-unit .button-sub,
#products .list-products .card-product .box-unit .button-add {
  background-color: var(--primary);
  font-weight: 400;
  line-height: 1rem;
  font-size: 1.125rem;
  color: var(--white);
  text-transform: uppercase;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
}
#products .list-products .card-product .box-unit .input-unit {
  border: 1px solid transparent;
  background-color: var(--gray-light);
  width: calc(100% - 6rem);
  padding: 0.375rem;
  padding-left: 1.25rem;
  text-align: center;
  border-radius: 9999px;
}
#products .list-products .card-product:hover {
  border-color: var(--primary);
}
#products .list-products .card-product:hover .button-payment {
  display: none;
}
#products .list-products .card-product:hover .box-unit {
  display: flex;
}

.container {
  width: 100%; /* O container ocupa toda a largura disponível */
  max-width: 1200px; /* Largura máxima do container */
  margin: 0 auto; /* Centraliza o container horizontalmente */
  padding: 0 20px; /* Adiciona um espaço interno de 20px nas laterais */
  box-sizing: border-box; /* Inclui padding e borda no cálculo da largura total */
}

#main {
  min-height: calc(100vh - 4.75rem - 20rem);
  margin-left: 12rem;
  margin-top: 4.75rem;
}

/*# sourceMappingURL=main.css.map */
